@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-gradient-text {
  background: linear-gradient(
    90deg,
    #22c55e,  /* green */
    #06b6d4,  /* cyan */
    #3b82f6,  /* blue */
    #8b5cf6   /* violet */
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.faq-inner-gradient {
  background: linear-gradient(
    135deg,
    rgba(59, 130, 246, 0.12),
    rgba(34, 211, 238, 0.08)
  );
}
